<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ExportCheckout</title>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="~/Content/bill.css" rel="stylesheet" />
</head>
    <body>

    </body>
</html>
        <div class="container">
            <div class="table">
                <table class="table">
                    <thead>
                        <tr> </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="2" style="font-weight:normal;">Công ty TNHH Du lịch D&amp;H<br /></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="mid" colspan="3">CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</td>
                        </tr>
                        <tr>
                            <td class="mid"> Trụ sở:</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="mid" colspan="3">Độc lập - Tự do - Hạnh phúc</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="mid" colspan="11" style="font-weight:bold;"><h2>PHIẾU ĐẶT TOUR</h2></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="right" colspan="2">Họ tên Khách hàng:</td>
                            <td class="border" style="width:300 px;" colspan="4">Trần Hàm Dương</td>
                            <td class="right">Giới tính:</td>
                            <td class="border" class="right">Nam</td>
                            <td class="right">SĐT:</td>
                            <td class="border" class="right">0903845259</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="2" class="right">Email:</td>
                            <td colspan="4" class="border">tranhamduong</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="2" class="right">Địa chỉ</td>
                            <td class="border" colspan="8">123</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="2" class="right">Số Hộ chiếu / CMND</td>
                            <td class="border" colspan="4">123</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="tborder" style="border-top: 1px solid black">Số thứ tự</td>
                            <td class="tborder" colspan="5" style="border-top: 1px solid black">Tên dịch vụ</td>
                            <td class="tborder" style="border-top: 1px solid black">Đơn giá</td>
                            <td class="tborder" style="border-top: 1px solid black">Số lượng</td>
                            <td class="tborder" style="border-top: 1px solid black">Thành tiền</td>
                            <td class="tborder" style="border-top: 1px solid black">Ghi chú</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="tborder"></td>
                            <td class="tborder" colspan="5"></td>
                            <td class="tborder"></td>
                            <td class="tborder"></td>
                            <td class="tborder"></td>
                            <td class="tborder"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="tborder"></td>
                            <td class="tborder" colspan="5"</td>
                            <td class="tborder"></td>
                            <td class="tborder"></td>
                            <td class="tborder"></td>
                            <td class="tborder"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="tborder"></td>
                            <td class="tborder" colspan="5"></td>
                            <td class="tborder"></td>
                            <td class="tborder"></td>
                            <td class="tborder"></td>
                            <td class="tborder"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="tborder"></td>
                            <td class="tborder" colspan="5"></td>
                            <td class="tborder"></td>
                            <td class="tborder"></td>
                            <td class="tborder"></td>
                            <td class="tborder"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="tborder"></td>
                            <td class="tborder" colspan="5"></td>
                            <td class="tborder"></td>
                            <td class="tborder"></td>
                            <td class="tborder"></td>
                            <td class="tborder"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="tborder"></td>
                            <td class="tborder" colspan="5"></td>
                            <td class="tborder"></td>
                            <td class="tborder"></td>
                            <td class="tborder"></td>
                            <td class="tborder"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="tborder"></td>
                            <td class="tborder" colspan="5"></td>
                            <td class="tborder"></td>
                            <td class="tborder"></td>
                            <td class="tborder"></td>
                            <td class="tborder"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="tborder"></td>
                            <td class="tborder" colspan="5"></td>
                            <td class="tborder"</td>
                            <td class="tborder"></td>
                            <td class="tborder"></td>
                            <td class="tborder"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="tborder"></td>
                            <td class="tborder" colspan="5"></td>
                            <td class="tborder"></td>
                            <td class="tborder"></td>
                            <td class="tborder"></td>
                            <td class="tborder"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="tborder"></td>
                            <td class="tborder" colspan="5"></td>
                            <td class="tborder"></td>
                            <td class="tborder"></td>
                            <td class="tborder"></td>
                            <td class="tborder"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="right">Tổng tiền:</td>
                            <td style="border-top: 1px solid black" colspan="3" class="tborder">123</td>
                            <td>VNĐ</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="right">Tiền cọc:</td>
                            <td style="border-top: 1px solid black" colspan="3" class="tborder">13</td>
                            <td>VNĐ</td>
                            <td></td>
                            <td class="right">Hạn thanh toán:</td>
                            <td style="border-top: 1px solid black" class="tborder">123</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr></tr>
                        <tr></tr>
                        <tr>
                            <td colspan="12"><p style="font-size:10px;"><b><i>Quý khách vui lòng thanh toán tiền cọc trước ngày xuất phát 7 ngày; thanh toán toàn bộ số tiền trễ nhất trước ngày xuất phát 4 ngày. Nếu không nhận được liên lạc từ quý khách, công ty sẽ không hoàn tiền cọc và hủy tour.</i></b></p></td>
                        </tr>
                        <tr>
                            <td colspan="12"><p style="font-size:10px;"><b><i>Quý khách vui lòng xem thêm về chính sách thanh toán (<a href="#">tại đây </a>); chính sách hủy tour (<a href="#">tại đây </a>); thông tin xác nhận tour (qua email).</i></b></p></td>
                        </tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr><td style="text-align:center" colspan="12">_______________________________________</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    
    
